.radio-button-comp {
    width: 20px;
    height: 20px;
    border: 2px solid var(--themeColor);
    border-radius: 50%;
    position: relative;
}

.radio-button-comp div {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: var(--themeColor);
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
}

.radio-button-comp span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: -20%;
    right: -20%;
    filter: var(--themeColorFilter);
}